.panel {
    background: inherit;
    color: white;
    border-right: none;
    border-left: none;
    border-top: 1px solid #BEBCBD;
    border-bottom: 1px solid #BEBCBD;
    border-radius: 0px;
    box-shadow: none;
}

.title {
    color: white;
    font-size: large;
}

.list {
    list-style: none;
    opacity: 0.8;
    font-size: 16px;
    cursor: pointer;
}