<div class="max-w-full h-auto bg-footerBg mt-24 pt-20 pb-10 px-32 flex flex-col">
    <div class="grid grid-cols-4">
        <div class="text-white">
            <h3 class="font-bold text-2xl mb-6">Need Help</h3>
            <nav class="flex flex-col gap-4 text-sm">
                <a routerLink="/contact">Contact Us</a>
                <a routerLink="/take-order">Take order</a>
                <a routerLink="/returns">Returns & Refunds</a>
                <a routerLink="/faq">FAQ's</a>
                <a routerLink="/career">Career</a>
            </nav>
        </div>

        <div class="text-white">
            <h3 class="font-bold text-2xl mb-6">Company</h3>
            <nav class="flex flex-col gap-4 text-sm">
                <a routerLink="/contact">About Us</a>
                <a routerLink="/take-order">Euphoria Blog</a>
                <a routerLink="/returns">Euphoriastan</a>
                <a routerLink="/faq">Collaboration</a>
                <a routerLink="/career">Media</a>
            </nav>
        </div>

        <div class="text-white">
            <h3 class="font-bold text-2xl mb-6">More Info</h3>
            <nav class="flex flex-col gap-4 text-sm">
                <a routerLink="/terms">Terms and Condition</a>
                <a routerLink="/privacy">Privacy Policy</a>
                <a routerLink="/shipping-policy">Shipping Policy</a>
                <a routerLink="/sitemap">Sitemap</a>
            </nav>
        </div>

        <div class="text-white">
            <h3 class="font-bold text-2xl mb-6">Location</h3>
            <nav class="flex flex-col gap-4 text-sm">
                <a routerLink="/support">support&#64;euphoria.in</a>
                <a routerLink="/address">Eklingpura Chouraha, Ahmedabad Main Road</a>
                <a routerLink="/address-2">(NH 8- Near Mahadev Hotel) Udaipur, India- 313002</a>
            </nav>
        </div>
    </div>

    <div class="flex items-center justify-between">
        <div class="flex items-center gap-3">
            <span class="w-10 h-10 rounded-lg bg-white cursor-pointer flex justify-center items-center">
                <img src="../../assets/Vector (1).svg" alt="">
            </span>
        </div>
    </div>
</div>