<div class="w-full pb-24 px-20">
    <h2 class="border-l-4 border-borderColor pl-4 text-headerColor font-bold tracking-wider text-xl mb-8">
        Feedback
    </h2>
    
    <div class="grid grid-cols-3 gap-5">
        <div class="p-6 rounded-lg border border-buttonBorder">
            <div class="flex justify-between">
                <span>
                    <img src="../../../assets/test-3.png" alt="floyd-miles">
                    <h5 class="text-headerColor font-medium mt-2">Floyd Miles</h5>
                </span>
                <span>
                    <fa-icon [icon]="faStar" class="text-brandsColor text-sm"></fa-icon>
                    <fa-icon [icon]="faStar" class="text-brandsColor text-sm"></fa-icon>
                    <fa-icon [icon]="faStar" class="text-brandsColor text-sm"></fa-icon>
                    <fa-icon [icon]="faStar" class="text-brandsColor text-sm"></fa-icon>
                    <fa-icon [icon]="faStar" class="text-brandsColor text-sm"></fa-icon>
                </span>
            </div>
            <p class="text-sm text-paragrapghText">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis, voluptas id tenetur mollitia aspernatur <br>
                harum sequi, ipsum atque illo asperiores deserunt laborum. Sed itaque minus iure dolorem minima, necessitatibus nemo.
            </p>
        </div>

        <div class="p-6 rounded-lg border border-buttonBorder">
            <div class="flex justify-between">
                <span>
                    <img src="../../../assets/test-1.png" alt="ranold">
                    <h5 class="text-headerColor font-medium mt-2">Ranold Richards</h5>
                </span>
                <span>
                    <fa-icon [icon]="faStar" class="text-brandsColor text-sm"></fa-icon>
                    <fa-icon [icon]="faStar" class="text-brandsColor text-sm"></fa-icon>
                    <fa-icon [icon]="faStar" class="text-brandsColor text-sm"></fa-icon>
                    <fa-icon [icon]="faStar" class="text-brandsColor text-sm"></fa-icon>
                    <fa-icon [icon]="faStar" class="text-brandsColor text-sm"></fa-icon>
                </span>
            </div>
            <p class="text-sm text-paragrapghText">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis, voluptas id tenetur mollitia aspernatur <br>
            </p>
        </div>

        <div class="p-6 rounded-lg border border-buttonBorder">
            <div class="flex justify-between">
                <span>
                    <img src="../../../assets/test-2.png" alt="nguyen">
                    <h5 class="text-headerColor font-medium mt-2">Savannah Nguyen</h5>
                </span>
                <span>
                    <fa-icon [icon]="faStar" class="text-brandsColor text-sm"></fa-icon>
                    <fa-icon [icon]="faStar" class="text-brandsColor text-sm"></fa-icon>
                    <fa-icon [icon]="faStar" class="text-brandsColor text-sm"></fa-icon>
                    <fa-icon [icon]="faStar" class="text-brandsColor text-sm"></fa-icon>
                    <fa-icon [icon]="faStar" class="text-brandsColor text-sm"></fa-icon>
                </span>
            </div>
            <p class="text-sm text-paragrapghText">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis, voluptas id tenetur mollitia aspernatur <br>
                harum sequi, ipsum atque illo asperiores deserunt laborum. Sed itaque minus iure dolorem minima, necessitatibus nemo.
            </p>
        </div>
    </div>
</div>