<div class="w-full pb-10 px-20">
    <h2 class="border-l-4 border-borderColor pl-4 text-headerColor font-bold tracking-wide text-xl mb-5">New Arrival</h2>
    <div class="grid grid-cols-4 gap-4 bg-red-400">
        <div class="flex flex-col gap-4">
            <img src="../../../assets/coziness.png" alt="">
            <h4>Knitted Joggers</h4>
        </div>
        <div class="flex flex-col gap-4">
            <img src="../../../assets/coziness.png" alt="">
            <h4>Knitted Joggers</h4>
        </div>
        <div class="flex flex-col gap-4">
            <img src="../../../assets/coziness.png" alt="">
            <h4>Knitted Joggers</h4>
        </div>
        <div class="flex flex-col gap-4">
            <img src="../../../assets/coziness.png" alt="">
            <h4>Knitted Joggers</h4>
        </div>
    </div>
</div>