<div class="w-1/3 h-auto border-x border-b">
    <div class="flex items-center justify-between w-full border-b px-8 py-4 hover:bg-search cursor-pointer">
        <h4 class="text-headerColor tracking-wide text-xl">Filter </h4>
        <img src="../../../assets/filter.png" alt="filter-icon">
    </div>

    <div class="flex flex-col gap-3 px-8 text-headerColor py-10 border-b">
        <span class="flex items-center justify-between cursor-pointer">
            <a routerLink="/tops">Tops</a>
            <fa-icon [icon]="faChevronRight" class="font-light opacity-50"></fa-icon>
        </span>
        <span class="flex items-center justify-between cursor-pointer">
            <a routerLink="/t-shits">Printed T-shirts</a>
            <fa-icon [icon]="faChevronRight" class="font-light opacity-50"></fa-icon>
        </span>
        <span class="flex items-center justify-between cursor-pointer">
            <a routerLink="/plain-shirt">Plain T-shirts</a>
            <fa-icon [icon]="faChevronRight" class="font-light opacity-50"></fa-icon>
        </span>
        <span class="flex items-center justify-between cursor-pointer">
            <a routerLink="/Kurti">Kurti</a>
            <fa-icon [icon]="faChevronRight" class="font-light opacity-50"></fa-icon>
        </span>
        <span class="flex items-center justify-between cursor-pointer">
            <a routerLink="/boxers">Boxers</a>
            <fa-icon [icon]="faChevronRight" class="font-light opacity-50"></fa-icon>
        </span>
        <span class="flex items-center justify-between cursor-pointer">
            <a routerLink="/full-sleeves">Full sleeve T-shirts</a>
            <fa-icon [icon]="faChevronRight" class="font-light opacity-50"></fa-icon>
        </span>
        <span class="flex items-center justify-between cursor-pointer">
            <a routerLink="/joggers">Joggers</a>
            <fa-icon [icon]="faChevronRight" class="font-light opacity-50"></fa-icon>
        </span>
        <span class="flex items-center justify-between cursor-pointer">
            <a routerLink="/payjamas">Payjamas</a>
            <fa-icon [icon]="faChevronRight" class="font-light opacity-50"></fa-icon>
        </span>
        <span class="flex items-center justify-between cursor-pointer">
            <a routerLink="/jeans">Jeans</a>
            <fa-icon [icon]="faChevronRight" class="font-light opacity-50"></fa-icon>
        </span>
    </div>

    <div class="flex items-center justify-between w-full border-b px-8 py-4 hover:bg-search cursor-pointer">
        <h4 class="text-headerColor tracking-wide text-xl">Price</h4>
        <fa-icon [icon]="faChevronUp"></fa-icon>
    </div>
</div>