<div class="px-20 w-full h-auto pb-16">
    <h2 
        class="border-l-4 border-borderColor pl-4 text-headerColor font-bold tracking-wide text-xl mb-6"
    >
        Buy Men's Clothing at Best Price
    </h2>

    <div class="bg-search border-none rounded-md flex flex-col">
        <div class="flex items-center justify-between border-b">
            <h4 class="text-headerColor font-medium tracking-wide w-clothing px-12 py-6">Men's Clothing</h4>
            <h4 class="text-headerColor font-medium tracking-wide w-price text-center border-l py-6">Best Price</h4>
        </div>

        <div class="flex flex-col">
            <div class="flex items-center justify-between">
                <h6 class="text-paragrapghText text-sm font-light tracking-wide w-clothing px-12 pb-2 pt-7">
                    Pick Any 4 - Men Plain T-shirt Combo
                </h6>
                <h6 class="text-paragrapghText text-sm tracking-wider w-price text-center pb-2 pt-7 border-l">$400</h6>
            </div>
            <div class="flex items-center justify-between">
                <h6 class="text-paragrapghText text-sm font-light tracking-wide w-clothing px-12 py-2">
                    Men's Jacket
                </h6>
                <h6 class="text-paragrapghText text-sm tracking-wider w-price text-center py-2 border-l">$700</h6>
            </div>
            <div class="flex items-center justify-between">
                <h6 class="text-paragrapghText text-sm font-light tracking-wide w-clothing px-12 py-2">
                    Men's Office Suits
                </h6>
                <h6 class="text-paragrapghText text-sm tracking-wider w-price text-center py-2 border-l">$2000</h6>
            </div>
            <div class="flex items-center justify-between">
                <h6 class="text-paragrapghText text-sm font-light tracking-wide w-clothing px-12 py-2">
                    Men's Office Wears - Long Sleeves
                </h6>
                <h6 class="text-paragrapghText text-sm tracking-wider w-price text-center py-2 border-l">$150</h6>
            </div>
            <div class="flex items-center justify-between">
                <h6 class="text-paragrapghText text-sm font-light tracking-wide w-clothing px-12 py-2">
                    Men's Sneakers - Addidas
                </h6>
                <h6 class="text-paragrapghText text-sm tracking-wider w-price text-center py-2 border-l">$330</h6>
            </div>
            <div class="flex items-center justify-between">
                <h6 class="text-paragrapghText text-sm font-light tracking-wide w-clothing px-12 py-2">
                    Men's Sneakers - Nike Jordan
                </h6>
                <h6 class="text-paragrapghText text-sm tracking-wider w-price text-center py-2 border-l">$450</h6>
            </div>
            <div class="flex items-center justify-between">
                <h6 class="text-paragrapghText text-sm font-light tracking-wide w-clothing px-12 py-2">
                    Men's Hoddies - Nike Brand
                </h6>
                <h6 class="text-paragrapghText text-sm tracking-wider w-price text-center py-2 border-l">$1200</h6>
            </div>
            <div class="flex items-center justify-between">
                <h6 class="text-paragrapghText text-sm font-light tracking-wide w-clothing px-12 py-2">
                    Pick Any 10 - Men Brand T-shirt
                </h6>
                <h6 class="text-paragrapghText text-sm tracking-wider w-price text-center py-2 border-l">$900</h6>
            </div>

            <div class="flex items-center justify-between">
                <h6 class="text-paragrapghText text-sm font-light tracking-wide w-clothing px-12 py-2">
                    Summer Shirts - Pick Any 5
                </h6>
                <h6 class="text-paragrapghText text-sm tracking-wider w-price text-center py-2 border-l">$650</h6>
            </div>
            <div class="flex items-center justify-between">
                <h6 class="text-paragrapghText text-sm font-light tracking-wide w-clothing px-12 py-2">
                    Men's Pants Combo - Pick Any 3
                </h6>
                <h6 class="text-paragrapghText text-sm tracking-wider w-price text-center py-2 border-l">$100</h6>
            </div>
            <div class="flex items-center justify-between">
                <h6 class="text-paragrapghText text-sm font-light tracking-wide w-clothing px-12 py-2">
                    Brands Men's Boxers
                </h6>
                <h6 class="text-paragrapghText text-sm tracking-wider w-price text-center py-2 border-l">$40</h6>
            </div>
            <div class="flex items-center justify-between">
                <h6 class="text-paragrapghText text-sm font-light tracking-wide w-clothing px-12 py-2">
                    Casual Shirts for Men
                </h6>
                <h6 class="text-paragrapghText text-sm tracking-wider w-price text-center py-2 border-l">$200</h6>
            </div>
        </div>
    </div>
</div>