<div class="relative w-full h-shopHeight overflow-hidden mt-20">
    <img src="../../../assets/home-hero.png" alt="home-hero">
    <div class="absolute top-10 w-2/5 px-24 py-20 text-white">
        <h4 class="mb-5 text-xl tracking-wide">T-Shirt / Tops</h4>
        <h2 class="mb-5 text-6xl font-bold">Summer Value Pack</h2>
        <p class="mb-5 text-lg">cool / colorful / comfy</p>
        <button class="text-headerColor bg-white px-10 py-1 rounded font-bold hover:bg-search shadow-md">Shop Now</button>
   </div>
</div>   