<div class="w-full pb-16 px-20">
    <h2 class="border-l-4 border-borderColor pl-4 text-headerColor font-bold tracking-wide text-xl mb-8">Big Saving Zone</h2>
    <div class="grid grid-cols-3 gap-4 mb-4">
        <div class="text-white rounded-xl hover:shadow-xl shirt">
            <div class="flex flex-col gap-4 px-5 py-12">
                <h3 class="font-bold text-3xl">Hawaiian <br> Shirts</h3>
                <p class="text-sm">Dress up in summer vibe</p>
                <h5 class="font-bold tracking-wide">UPTO 50% OFF</h5>
                <fa-icon [icon]="faArrowDown" class="text-3xl mb-2 ml-10"></fa-icon>
                <button class="uppercase w-32 text-sm font-medium py-3 rounded-md border-2 border-white">shop now</button>
            </div>
        </div>
        <div class="text-white rounded-xl hover:shadow-xl printed">
            <div class="flex flex-col gap-4 px-5 py-12 items-end">
                <h3 class="font-bold text-3xl">Printed <br> T-Shirts</h3>
                <p class="text-sm">New Designs Every Week</p>
                <h5 class="font-bold tracking-wide">UPTO 50% OFF</h5>
                <fa-icon [icon]="faArrowDown" class="text-3xl mb-2 mr-10"></fa-icon>
                <button class="uppercase w-32 text-sm font-medium py-3 rounded-md border-2 border-white">shop now</button>
            </div>
        </div>
        <div class="text-headerColor rounded-xl hover:shadow-xl joggers">
            <div class="flex flex-col gap-4 px-5 py-12 items-end">
                <h3 class="font-bold text-3xl">Cargo <br> Joggers</h3>
                <p class="text-sm">Move with style & comfort</p>
                <h5 class="font-bold tracking-wide">UPTO 50% OFF</h5>
                <fa-icon [icon]="faArrowDown" class="text-3xl mb-2 mr-10"></fa-icon>
                <button class="uppercase w-32 text-sm font-medium py-3 rounded-md border-2 border-buttonBorder">shop now</button>
            </div>
        </div>
    </div>
</div>