<div class="w-full pb-24 px-20">
    <h2 class="border-l-4 border-borderColor pl-4 text-headerColor font-bold tracking-wide text-xl mb-8">Big Saving Zone</h2>
    <div class="grid grid-cols-3 gap-4 mb-4">
        <div class="text-white rounded-xl hover:shadow shirt cursor-pointer">
            <div class="flex flex-col gap-4 px-5 py-12">
                <h3 class="font-bold text-3xl">Hawaiian <br> Shirts</h3>
                <p class="text-sm">Dress up in summer vibe</p>
                <h5 class="font-bold tracking-wide">UPTO 50% OFF</h5>
                <fa-icon [icon]="faArrowDown" class="text-3xl mb-2 ml-10"></fa-icon>
                <button class="uppercase w-28 text-xs font-medium py-2 rounded-md border-2 border-white">shop now</button>
            </div>
        </div>
        <div class="text-white rounded-xl hover:shadow-xl printed cursor-pointer">
            <div class="flex flex-col gap-4 px-5 py-12 items-end">
                <h3 class="font-bold text-3xl">Printed <br> T-Shirts</h3>
                <p class="text-sm">New Designs Every Week</p>
                <h5 class="font-bold tracking-wide">UPTO 50% OFF</h5>
                <fa-icon [icon]="faArrowDown" class="text-3xl mb-2 mr-10"></fa-icon>
                <button class="uppercase w-28 text-xs font-medium py-2 rounded-md border-2 border-white">shop now</button>
            </div>
        </div>
        <div class="text-headerColor rounded-xl hover:shadow-xl joggers cursor-pointer">
            <div class="flex flex-col gap-4 px-5 py-12 items-end">
                <h3 class="font-bold text-3xl">Cargo <br> Joggers</h3>
                <p class="text-sm">Move with style & comfort</p>
                <h5 class="font-bold tracking-wide">UPTO 50% OFF</h5>
                <fa-icon [icon]="faArrowDown" class="text-3xl mb-2 mr-10 opacity-70"></fa-icon>
                <button class="uppercase w-28 text-xs font-medium py-2 rounded-md border-2 border-buttonBorder">shop now</button>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-2 gap-4 mb-10">
        <div class="text-headerColor rounded-xl hover:shadow-xl cursor-pointer urban">
            <div class="flex flex-col gap-4 pr-24  py-12 items-end">
                <h3 class="font-bold text-3xl">Urban <br> Shirts</h3>
                <p class="text-sm">Live in Comfort</p>
                <h5 class="font-bold tracking-wide">FLAT 60% OFF</h5>
                <fa-icon [icon]="faArrowDown" class="text-3xl mb-2 mr-10 opacity-70"></fa-icon>
                <button class="uppercase w-28 text-xs font-medium py-2 rounded-md border-2 border-buttonBorder">shop now</button>
            </div>
        </div>
        <div class="text-headerColor rounded-xl hover:shadow-xl cursor-pointer oversized">
            <div class="flex flex-col gap-4 pr-24  py-12 items-end">
                <h3 class="font-bold text-3xl">Oversized<br> T-Shirts</h3>
                <p class="text-sm">Street Style Icon</p>
                <h5 class="font-bold tracking-wide">FLAT 60% OFF</h5>
                <fa-icon [icon]="faArrowDown" class="text-3xl mb-2 mr-10 opacity-70"></fa-icon>
                <button class="uppercase w-28 text-xs font-medium py-2 rounded-md border-2 border-buttonBorder">shop now</button>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-2">
        <div class="py-28 px-12 text-white fashion rounded-s-md">
            <h4 class="uppercase text-2xl font-bold mb-3">
                We made your everyday <br> fashion better!
            </h4>
            <p class="text-sm font-light opacity-70 mb-10">
                In our journey to improve everyday fashion, <br> euphoria 
                presents EVERYDAY wear range - <br> Comfortable & Affordable fashion 24/7
            </p>
            <button class="uppercase w-28 text-xs font-bold py-2 rounded-md bg-white text-headerColor">shop now</button>
        </div>
        <div class="py-10 px-8 text-white big-save rounded-e-md">

        </div>
    </div>
</div>