<div class="w-full pb-16 px-20">
    <h2 class="border-l-4 border-borderColor pl-4 text-headerColor font-bold tracking-wide text-xl mb-8">Big Saving Zone</h2>
    <div class="grid grid-cols-3 gap-4 mb-4">
        <div class="text-white bg-sky-300 rounded-xl hover:shadow-xl">
            <div class="flex flex-col gap-4 px-8 py-12">
                <h3 class="font-bold text-4xl">Hawaiian <br> Shirts</h3>
                <p>Dress up in summer vibe</p>
                <h5>UPTO 50% OFF</h5>
                <fa-icon [icon]="faArrowDown" class="text-3xl"></fa-icon>
                <button class="uppercase w-40 py-3 rounded-md border-2 border-white">shop now</button>
            </div>
        </div>
        <div class="text-white bg-sky-300 rounded-xl hover:shadow-xl">
            <div class="flex flex-col gap-4 px-8 py-12">
                <h3 class="font-bold text-4xl">Hawaiian <br> Shirts</h3>
                <p>Dress up in summer vibe</p>
                <h5>UPTO 50% OFF</h5>
                <fa-icon [icon]="faArrowDown" class="text-3xl"></fa-icon>
                <button class="uppercase w-40 py-3 rounded-md border-2 border-white">shop now</button>
            </div>
        </div>
        <div class="text-white bg-sky-300 rounded-xl hover:shadow-xl">
            <div class="flex flex-col gap-4 px-8 py-12">
                <h3 class="font-bold text-4xl">Hawaiian <br> Shirts</h3>
                <p>Dress up in summer vibe</p>
                <h5>UPTO 50% OFF</h5>
                <fa-icon [icon]="faArrowDown" class="text-3xl"></fa-icon>
                <button class="uppercase w-40 py-3 rounded-md border-2 border-white">shop now</button>
            </div>
        </div>
    </div>
</div>