<div class="w-full shadow-lg px-32 h-24 flex justify-between">
    <div class="flex items-center gap-32">
        <img src="../../../assets/Logo.svg" class="w-32" alt="logo">
        <div 
            class="bg-search flex items-center w-56 h-auto border rounded-lg px-10 py-2 gap-2 focus-within:border-buttonBorder"
        >
            <fa-icon [icon]="faSearch"></fa-icon>
            <input 
                type="text" 
                placeholder="Search" 
                class="w-full border-none focus-within:outline-none pl-2 bg-inherit placeholder:italic"
            >
        </div>
    </div>

    <div class="flex items-center gap-6">
        <button 
            routerLink="/signin"
            class="text-borderColor px-8 py-2 rounded-md border border-buttonBorder font-bold hover:border-borderColor"
        >
        Signin
        </button>
        <button
            routerLink="/signup" 
            class="bg-buttonBg text-white px-8 py-2 rounded-md hover:bg-white hover:border hover:border-buttonBorder hover:text-borderColor"
        >
            Signup
        </button>
    </div>
</div>