.cozy {
    background-image: url('../../../assets/coziness.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
}

.breezy {
    background-image: url('../../../assets/breezy.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
}