<div class="w-full h-auto py-16 px-20 grid grid-cols-2 gap-6">
    <div class="cozy px-8 py-16 text-white rounded-xl shadow-md">
        <h6 class="mb-4 font-medium">Low Price</h6>
        <h2 class="font-bold text-3xl mb-2">High Coziness</h2>
        <p class="mb-8 text-xs opacity-90">UPTO 50% OFF</p>
        <button routerLink="/expore" class="font-medium border-b border-b-yellow-400">Explore Items</button>
    </div>
    <div class="breezy px-8 py-16 text-white rounded-xl shadow-md">
        <h6 class="mb-4 font-medium">Beyound Present</h6>
        <h2 class="font-bold text-3xl mb-2">Breezy Summer <br> Style</h2>
        <p class="mb-8 text-xs opacity-90">UPTO 50% OFF</p>
        <button routerLink="/expore" class="font-medium border-b border-b-indigo-600">Explore Items</button>
    </div>
</div>