<div class="w-full h-screen overflow-hidden">
    <app-signup-navbar/>
    <div class="grid grid-cols-2">
        <div>
            <img src="../../../assets/signup-img.png" class="w-full" alt="login-image">
        </div>
        <div class="flex flex-col gap-4 py-20 px-40">
            <h2 class="text-headerColor font-bold text-3xl">Sign Up</h2>
            <p class="mb-6 text-paragrapghText">Sign up for free to be able to access any of our products.</p>
            <div class="w-formWidth">
                <button 
                    class="w-full border border-authBorder flex items-center gap-4 justify-center h-12 rounded-lg mb-5 cursor-pointer hover:border-borderColor hover:bg-search"
                >
                    <img src="../../../assets/Google.svg" alt="google-icon">
                    <h4 class="text-borderColor font-bold text-lg">Continue with Google</h4>
                </button>
                <button 
                    class="w-full border border-authBorder flex items-center gap-4 justify-center h-12 rounded-lg cursor-pointer hover:border-borderColor hover:bg-search mb-10"
                >
                    <img src="../../../assets/twitter.svg" alt="twitter-icon">
                    <h4 class="text-borderColor font-bold text-lg">Continue with Twitter</h4>
                </button>

                <form class="w-full flex flex-col gap-4">
                    <div class="flex flex-col gap-2">
                        <label for="email" class="font-bold text-headerColor">Email Address</label>
                        <input 
                            type="email" 
                            class="w-full border border-authBorder h-12 rounded-lg px-5 outline-1 hover:border-borderColor focus-within:outline-borderColor"
                        >
                    </div>
                    <div class="flex flex-col gap-2">
                        <div class="flex items-center justify-between">
                            <label for="email" class="font-bold text-headerColor">Password</label>
                            <div class="flex items-center gap-3">
                                <img src="../../../assets/icon-hide-preview.svg" alt="icon-hide-preview">
                                Hide
                            </div>
                        </div>
                        <input 
                            type="password" 
                            class="w-full border border-authBorder h-12 rounded-lg px-5 outline-1 hover:border-borderColor focus-within:outline-borderColor"
                        >
                        <p class="text-paragrapghText text-sm">Use at least 8 or more characters with a mix of letters, numbers & symbols</p>
                    </div>

                    <div class="mb-7">
                        <span class="flex items-center gap-2 mb-2">
                            <input type="checkbox">
                            <p class="text-headerColor text-base">
                                Agree to our <a routerLink="">Terms of use</a> and <a routerLink="">Privacy Policy</a>
                            </p>
                        </span>
    
                        <span class="flex items-center gap-2">
                            <input type="checkbox">
                            <p class="text-headerColor text-base">
                                Subscribe to our monthly newsletter
                            </p>
                        </span>
                    </div>
                    
                    <button 
                        class="bg-borderColor w-32 h-12 text-white text-xl rounded-lg hover:bg-purple-700"
                    >
                        Sign up
                    </button>
                    <p class="text-paragrapghText">
                        Already have an account?
                        <a routerLink="signup" class="text-borderColor underline">Sign in</a>
                    </p>
                </form>
            </div>
            
        </div>
    </div>
</div>