<div class="px-20 pb-16 w-full">
    <div class="bg-footerBg rounded-lg py-8 px-20">
        <h3 class="text-white font-bold tracking-wider text-4xl text-center  mb-4">Top Brands Deal</h3>
        <h6 class="text-white text-center font-light opacity-90 tracking-wide mb-5">
            Up To 
            <span class="text-brandsColor font-bold">60%</span> 
            off on brands
        </h6>
        <div class="flex gap-3 items-center">
            <img src="../../../assets/nike.png" alt="nike">
            <img src="../../../assets/hm.png" alt="hm">
            <img src="../../../assets/levis.png" alt="levis">
            <img src="../../../assets/polo.png" alt="polo">
            <img src="../../../assets/puma.png" alt="puma">
        </div>
    </div>
</div>