<div class="w-full h-screen overflow-hidden">
    <app-signin-navbar/>
    <div class="grid grid-cols-2">
        <div>
            <img src="../../../assets/login-img.png" class="w-full" alt="login-image">
        </div>
        <div class="flex flex-col gap-4 py-20 px-40">
            <h2 class="text-headerColor font-bold text-3xl mb-5">Sign In Page</h2>
            <div class="w-formWidth">
                <div 
                    class="w-full border border-authBorder flex items-center gap-4 justify-center h-12 rounded-lg mb-5 cursor-pointer hover:border-borderColor hover:bg-search"
                >
                    <img src="../../../assets/Google.svg" alt="google-icon">
                    <h4 class="text-borderColor font-bold text-lg">Continue with Google</h4>
                </div>
                <div 
                    class="w-full border border-authBorder flex items-center gap-4 justify-center h-12 rounded-lg cursor-pointer hover:border-borderColor hover:bg-search"
                >
                    <img src="../../../assets/twitter.svg" alt="twitter-icon">
                    <h4 class="text-borderColor font-bold text-lg">Continue with Twitter</h4>
                </div>
            </div>
            
        </div>
    </div>
</div>