<div class="w-full pb-16 px-20">
    <h2 class="border-l-4 border-borderColor pl-4 text-headerColor font-bold tracking-wide text-xl mb-8">
        Categories For Women
    </h2>
    <div class="grid grid-cols-4 gap-8">
        <div *ngFor="let product of products" class="flex flex-col gap-4 cursor-pointer">
            <img [src]="product.featuredImage.url" alt="{{ product.title }}" class="rounded-lg hover:opacity-80">
            <div class="pb-4 flex items-center justify-between">
                <span>
                    <h4 class="text-headerColor font-bold mb-1">{{ product.title }}</h4>
                    <p class="text-xs font-medium opacity-50">Explore Now!</p>
                </span>
                <button routerLink="/women">
                    <fa-icon [icon]="faArrowRight" class="opacity-50"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</div>